<!-- @tx-process:include head/_head.html --><!-- /@tx-process -->

  <body>
    <div id="holder" class="holder">
      <canvas id="canvas" class="canvas"></canvas>
      <video src="res/video/video.mp4" id="video" class="video" preload muted loop autoplay></video>
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAAD0lEQVQoU2NgGAWjgAoAAAJJAAHDmDdKAAAAAElFTkSuQmCC" class="dummy">
    </div>
    <!-- @tx-process:include _scripts.html --><!-- /@tx-process -->
  </body>

</html>
